<div>
  <p class="headline">
    {{ title }}
  </p>

<p-card>
    <p>Login to Angular v19:</p>

    <p-inputgroup>
      <p-inputgroup-addon>
        <i class="pi pi-user"></i>
      </p-inputgroup-addon>
      <input [(ngModel)]="username" placeholder="Benutzername" />
    </p-inputgroup>

    <p-inputgroup>
      <p-inputgroup-addon>
        <i class="pi pi-user"></i>
      </p-inputgroup-addon>
      <input [(ngModel)]="password" placeholder="Passwort" />
    </p-inputgroup>

    <button (click)="login()">
      Login
    </button>
</p-card>

  <span *ngIf="loginSuccess">
    <div><i class="pi pi-check"></i> <p>Anmeldung erfolgreich!</p></div>
  </span>

  <span *ngIf="loginFailed">
    <div><i class="pi pi-times"></i> <p>Anmeldung fehlgeschlagen!</p></div>
  </span>
</div>
